*{
  padding: 0;
  margin: 0;
}
.head-bars{
  background-color: #1E3246;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-spaceing{
  margin-top: 2vh;
}
.head-name{
  margin-top: 6vh;
  margin-bottom: 4vh;
}
.background{
  background-color: #8DB7E1;
  height: 71.5vh;
  align-items: center;
}
.background-image {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), /* Semi-transparent white overlay */
    url('./assets/tresure.png'); /* Your background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  width: 80%;
  height: 70%;
  position: relative;
  padding-top: 20px;
  border-radius: 6vh;
}

.input-box{
  width: 28vw;
  margin-left: 2vw;
  color: black; /* Set input text color to black */
  background-color: white; /* Ensure input background is white for contrast */
  border: 1px solid #ccc;
}
.input{
  display: flex;
  flex-direction: row;
  color: black;
}
.form-position{
  margin-top: 2vh;
}
.input-code{
  display: flex;
  flex-direction: row;
  color: black;
  /* margin-left: 20vw; */
  margin-top: 2vh;
}
.button{
  margin-top: 4vh;
}
.clue{
  margin-top: 5vh;
}